.triangle {
    line-height: 1;
    font-size: 62.5%;
}
.triangle a {
    color: #96c03d;
    text-decoration: none;
}
.cd-breadcrumb, .cd-multi-steps {
    padding: 0.5em 1em;
    border-radius: .25em;
}
.cd-breadcrumb:after, .cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}
.cd-breadcrumb li, .cd-multi-steps li {
    display: inline-block;
    margin: 0.5em 0;
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #959fa5;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
    display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {
    display: inline-block;
    font-size: 1.4rem;
    color: #2c3f4c;
}
@media only screen and (max-width: 959px) {
    .cd-breadcrumb li > *, .cd-multi-steps li > * {
        font-size: 1rem;
    }
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {
    color: #96c03d;
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
    color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
    content: '';
    height: 16px;
    width: 16px;
    background: url(/assets/breadcrumb/cd-custom-separator.svg) no-repeat center center;
    vertical-align: middle;
}
@media only screen and (min-width: 768px) {
    .cd-breadcrumb, .cd-multi-steps {
        padding: 0 1.2em;
    }
    .cd-breadcrumb li, .cd-multi-steps li {
        margin: 1.2em 0;
    }
    .cd-breadcrumb li::after, .cd-multi-steps li::after {
        margin: 0 1em;
    }
    .cd-breadcrumb li > *, .cd-multi-steps li > * {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .cd-breadcrumb.triangle {
        background-color: transparent;
        padding: 0;
        margin-bottom: 15px;
    }
    .cd-breadcrumb.triangle li {
        position: relative;
        padding: 0;
        margin: 4px 1px 0 0;
    }
    .cd-breadcrumb.triangle li:last-of-type {
        margin-right: 0;
    }
    .cd-breadcrumb.triangle li > * {
        position: relative;
        padding: 1em .8em 1em 2.5em;
        color: #2c3f4c;
        background-color: #edeff0;
        border-color: #edeff0;
    }
    .cd-breadcrumb.triangle li.current > * {
        color: #ffffff;
        background-color: #96c03d;
        border-color: #96c03d;
    }
    .cd-breadcrumb.triangle li:first-of-type > * {
        padding-left: 1.6em;
        border-radius: .25em 0 0 .25em;
    }
    .cd-breadcrumb.triangle li:last-of-type > * {
        padding-right: 1.6em;
        border-radius: 0 .25em .25em 0;
    }
    .no-touch .cd-breadcrumb.triangle a:hover {
        color: #ffffff;
        background-color: #2c3f4c;
        border-color: #2c3f4c;
    }
    .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        height: 0;
        width: 0;
        border: 24px solid transparent;
        border-right-width: 0;
        border-left-width: 20px;
    }
    .cd-breadcrumb.triangle li::after {
        z-index: 1;
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        transform: translateX(4px);
        border-left-color: white;
        /* reset style */
        margin: 0;
    }
    .cd-breadcrumb.triangle li > *::after {
        z-index: 2;
        border-left-color: inherit;
    }
    .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
        display: none;
    }
    .cd-breadcrumb.triangle.custom-separator li::after {
        background-image: none;
    }
}
@media only screen and (min-width: 768px) {
    .cd-multi-steps {
        background-color: transparent;
        padding: 0;
        text-align: center;
    }

    .cd-multi-steps li {
        position: relative;
        float: none;
        margin: 0.4em 40px 0.4em 0;
    }
    .cd-multi-steps li:last-of-type {
        margin-right: 0;
    }
    .cd-multi-steps li::after {
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        margin: 0;
    }
    .cd-multi-steps li.visited::after {
        background-color: #96c03d;
    }
    .cd-multi-steps li > *, .cd-multi-steps li.current > * {
        position: relative;
        color: #2c3f4c;
    }

    .cd-multi-steps.custom-separator li::after {
        height: 4px;
        background: #edeff0;
    }

    .cd-multi-steps.text-center li::after {
        width: 100%;
        top: 50%;
        left: 100%;
        -webkit-transform: translateY(-50%) translateX(-1px);
        -moz-transform: translateY(-50%) translateX(-1px);
        -ms-transform: translateY(-50%) translateX(-1px);
        -o-transform: translateY(-50%) translateX(-1px);
        transform: translateY(-50%) translateX(-1px);
    }
    .cd-multi-steps.text-center li > * {
        z-index: 1;
        padding: .6em 1em;
        border-radius: .25em;
        background-color: #edeff0;
    }
    .no-touch .cd-multi-steps.text-center a:hover {
        background-color: #2c3f4c;
    }
    .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
        color: #ffffff;
        background-color: #96c03d;
    }

    .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
        width: 80px;
        text-align: center;
    }
    .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
        position: absolute;
        left: 50%;
        width: calc(100% + 40px);
    }
    .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #edeff0;
    }
    .cd-multi-steps.text-top li.visited > *::before,
    .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
    .cd-multi-steps.text-bottom li.current > *::before {
        background-color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
        color: #96c03d;
    }
    .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
        box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }

    .cd-multi-steps.text-top li::after {
        bottom: 4px;
    }
    .cd-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }
    .cd-multi-steps.text-top li > *::before {
        bottom: 0;
    }

    .cd-multi-steps.text-bottom li::after {
        top: 3px;
    }
    .cd-multi-steps.text-bottom li > * {
        padding-top: 20px;
    }
    .cd-multi-steps.text-bottom li > *::before {
        top: 0;
    }
}
.cd-multi-steps.count li {
    counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
    content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
    .cd-multi-steps.text-top.count li > *::before,
    .cd-multi-steps.text-bottom.count li > *::before {
        content: counter(steps);
        height: 26px;
        width: 26px;
        line-height: 26px;
        font-size: 1.4rem;
        color: #ffffff;
    }

    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
        color: #2c3f4c;
    }

    .cd-multi-steps.text-top.count li::after {
        bottom: 11px;
    }

    .cd-multi-steps.text-top.count li > * {
        padding-bottom: 34px;
    }

    .cd-multi-steps.text-bottom.count li::after {
        top: 11px;
    }

    .cd-multi-steps.text-bottom.count li > * {
        padding-top: 34px;
    }
}