@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xss</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("Xss","Test",FormMethod.Post)) {
            <textarea name="text" rows="10" cols="50"></textarea>
            <input type="checkbox" value="true" name="clear"/><label>净化</label>
            <button type="submit">提交</button>
        }
        @MvcHtmlString.Create(ViewBag.Text)
    </div>
</body>
</html>
