<div id="loading">
    <div class="loading3">
        <ul class="c">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="loading2">
        <div class="bg0 pa">
            <div class="bg1"></div>
        </div>
        <div class="hx-box pa">
            <ul class="pr">
                <li class="hx-k1 pa0">
                    <span></span>
                </li>
                <li class="hx-k2 pa0">
                    <span></span>
                </li>
                <li class="hx-k3 pa0">
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="loading1 animated fadeIn">
        <div class="loadEffect">
            <div>
                <span class="bg-warning"></span>
            </div>
            <div>
                <span class="bg-success"></span>
            </div>
            <div>
                <span class="bg-info"></span>
            </div>
            <div>
                <span class="bg-primary"></span>
            </div>
            <div>
                <span class="bg-default"></span>
            </div>
            <div>
                <span class="bg-warning"></span>
            </div>
            <div>
                <span class="bg-info"></span>
            </div>
            <div>
                <span class="bg-success"></span>
            </div>
        </div>
    </div>
</div>