<style>
    .datainp {
        width: 270px;
        height: 30px;
        border: 1px #A5D2EC solid;
    }

    .dateicon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==");
        background-repeat: no-repeat;
        background-position: right center;
    }
</style>
<div class="row">
    <div class="btn-group">
        <button class="btn btn-primary waves-effect" ng-click="save()"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'打赏时间'">
                {{row.DonateTime|date:'yyyy-MM-dd'}}
            </td>
            <td title="'昵称'">
                {{row.NickName}}
            </td>
            <td title="'金额'">
                {{row.Amount}}
            </td>
            <td title="'打赏方式'">
                {{row.Via}}
            </td>
            <td title="'Email'">
                {{row.Email}}
            </td>
            <td title="'QQ或微信'">
                {{row.QQorWechat}}
            </td>
            <td title="'操作'" style="width: 120px;">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm waves-effect" ng-click="save(row)">
                        <i class="icon-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)">
                        <i class="icon-cross"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>