<div class="row">
    <div class="page-header">
        <h2 class="text-center">最近一个月登陆记录</h2>
    </div>
    <table class="table table-bordered table-condensed table-hover" disable-filter="list.isAdding" ng-form="list.tableForm" ng-table="list.tableParams" tracked-table="list.tableTracker">
        <tr ng-form="rowForm" ng-repeat="row in $data" tracked-table-row="row">
            <td sortable="'LoginTime'" title="'登录时间'">
                {{row.LoginTime|date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td sortable="'IP'" title="'IP'">
                {{row.IP}}
            </td>
            <td sortable="'Province'" title="'省份'">
                {{row.Province}}
            </td>
            <td sortable="'PhysicAddress'" title="'详细地址'">
                {{row.PhysicAddress}}
            </td>
        </tr>
    </table>
</div>