<div class="row">
    <div class="btn-group">
        <button class="btn btn-danger waves-effect" ng-click="save()"><span class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'标题'" filter="{Title: 'text'}" sortable="'Title'">
                <a ng-href="/special/{{row.Id}}" target="_blank">{{row.Title}}</a>
            </td>
            <td title="'子标题'" filter="{SubTitle: 'text'}" sortable="'SubTitle'">
                {{row.SubTitle}}
            </td>
            <td title="'描述'" filter="{Description: 'text'}" sortable="'Description'">
                {{row.Description}}
            </td>
            <td title="'操作'" style="width: 120px;">
                <div class="btn-group">
                    <button class="btn btn-info btn-sm waves-effect" ng-click="save(row)">
                        <i class="icon-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)">
                        <i class="icon-cross"></i>
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>