
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>取消订阅</title>
</head>
<body>
    <form id="subscribe" method="post">
        <div class="input-group">
            <input type="email" class="email form-control" placeholder="输入邮箱 取消订阅更新" name="email" required />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">取消</button>
            </span>
        </div>
    </form>
</body>
</html>
