<div class="row">
    <div class="form-inline pull-right">
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'昵称'">
                {{row.NickName}}
            </td>
            <td title="'内容'" ng-bind-html="row.Content|htmlString"></td>
            <td title="'评论时间'" filter="{CommentDate: 'text'}" sortable="'CommentDate'">
                {{row.CommentDate|date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td title="'邮箱'">
                {{row.Email}}
            </td>
            <td title="'QQ或微信'">
                {{row.QQorWechat}}
            </td>
            <td title="'操作系统'">
                {{row.OperatingSystem}}
            </td>
            <td title="'浏览器'">
                {{row.Browser}}
            </td>
            <td title="'操作'" style="width: 155px;">
                <div class="btn-group">
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)">
                        <i class="icon-cross"></i>
                    </button>
                    <button class="btn btn-default btn-sm waves-effect" ng-click="list.pass(row)">
                        <i class="icon-checkmark"></i>
                    </button>
                    <a class="btn btn-info btn-sm waves-effect" ng-href="/{{row.PostId}}?cid={{row.Id}}#comment">
                        <i class="icon-stack"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>