
@{
    Layout = null;
}
<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>博客管理后台</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css" rel="stylesheet">
    <link href="~/fonts/icomoon.min.css" rel="stylesheet" />
    <link href="~/Assets/layui/css/layui.min.css" rel="stylesheet" />
    <link href="~/Assets/jedate/jedate.min.css" rel="stylesheet" />
    <link href="~/Assets/fileupload/filestyle.min.css" rel="stylesheet" />
    <link href="~/Assets/select3/bundle.min.css" rel="stylesheet" />
    <link href="~/Content/ng-table.min.css" rel="stylesheet" />
    <link href="~/Content/common/loading.min.css" rel="stylesheet" />
    <link href="~/Content/microtip.min.css" rel="stylesheet" />
    <link href="~/Content/checkbox.min.css" rel="stylesheet" />
    <link href="~/ng-views/css/app.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.2.0/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="~/Assets/echarts/china.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.3/highcharts-more.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.3/js/modules/solid-gauge.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/i18n/angular-locale_zh-cn.js"></script>
    <script src="https://cdn.bootcss.com/signalr.js/2.3.0/jquery.signalR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-signalr-hub/1.6.3/signalr-hub.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.22.6/angular-ui-tree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ifvisible/1.0.6/ifvisible.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/tm.pagination.js"></script>
    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Assets/layui/layui.min.js"></script>
    <script src="~/Assets/UEditor/ueditor.config.admin.min.js"></script>
    <script src="~/Assets/select3/select3-full.min.js"></script>
    <script src="~/Assets/jedate/jquery.jedate.min.js"></script>
    <script src="~/ng-views/app/app.config.js"></script>
    <script src="~/ng-views/app/route.config.js"></script>
    <script src="~/ng-views/app/angular-ueditor.min.js"></script>
    <script src="~/ng-views/app/template.min.js"></script>
    <script src="~/ng-views/app/form.js"></script>
    <script src="~/ng-views/controllers/main.js"></script>
    <script src="/signalr/hubs"></script><!--后端SignalR根据注册的路由生成的js脚本-->

</head>
<body data-ng-controller="main as mactrl" data-ng-class="{ 'sw-toggled': mactrl.layoutType === '1'}">
    <header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/ng-views/template/header.html'"></header>
    <section id="main">
        <aside id="sidebar" data-ng-include="'/ng-views/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <section id="content">
            <div class="container">
                <data ui-view></data>
            </div>
        </section>
    </section>
    <div data-ng-include="'/ng-views/template/loading.html'"></div>
</body>
</html>