@using Masuit.MyBlogs.Core.Models.DTO
@model IEnumerable<Masuit.MyBlogs.Core.Models.DTO.LinksDto>

@{
    ViewBag.Title = "友情链接大全";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/common/btnstyle.css" rel="stylesheet" />
<div class="container min-height610">
    <ol class="cd-breadcrumb triangle">
        <li><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="current"><em>@ViewBag.Title</em></li>
    </ol>
    <header class="page-header text-center">
        <h1 class="size48">友情链接</h1>
    </header>
    <article class="size16 line-height28">
        <p>
            一、申请友链可以直接在站留言或私信联系站长或<button type="button" class="btn btn-info" onclick="add()">自助上链</button>，内容包括网站名称、链接以及相关说明，为了节约你我的时间，可先做好本站链接并留言，我将尽快答复
        </p>
        <p>
            二、欢迎申请友情链接，只要是正规站常更新即可，申请首页链接需符合以下几点要求：
            <br />
            本站优先招同类原创、内容相近的博客或网站；
            <br />
            Baidu和Google有正常收录，百度近期快照，不含有违法国家法律内容的合法网站，TB客，垃圾站不做。
            <br />
            如果您的站原创内容少之又少，且长期不更新，申请连接不予受理！
        </p>
        <p>
            友情链接的目的是常来常往，凡是加了友链的朋友，我都会经常访问的，也欢迎你来我的网站参观、留言等。
        </p>
        <p>
            友链申请示例
        </p>
        <p>
            本站名称：懒得勤快的博客
        </p>
        <p>
            本站链接：@Context.Request.Host
        </p>
        <p>
            本站描述：本站是一个集精品软件、资源共享、前端技术和后端开发等互联网技术分享的博客，专注于软件绿化、系统封装、前端开发和后端技术。热衷于互联网行业，喜欢各种折腾。
        </p>
        <p>
            PS：链接由于无法访问或您的博客没有发现本站链接等其他原因，将会暂时撤销超链接，恢复请到 <a asp-controller="Msg" asp-action="Index" class="btn btn-info">留言板</a> 通知我，望请谅解，谢谢！
        </p>
        <p>
            网站底部的友链列表仅按到访本站次数随机权重抽取30条进行展示，若您的站点上的本站链接长期没有被点击，将影响到您的链接出现在本站底部的概率。
        </p>
        <p>或者，您也可以尝试<button type="button" class="btn btn-info" onclick="add()">自助通道</button>进行添加友情链接</p>
    </article>
    <section>
        <div class="button-effect">
            @foreach (LinksDto link in Model)
            {
                <a class="effect effect-5" href="@link.Url" title="@link.Name" target="_blank">@link.Name</a>
            }
            <a class="effect effect-5" onclick="add()">自助添加</a>
        </div>
    </section>
</div>
<script>
    function add() {
        swal({
            title: '申请友情链接',
            html: '<div class="input-group"><span class="input-group-addon">网站名称</span><input id="title" class="form-control" autofocus placeholder="您的网站名称"></div>' +
                '<div class="input-group"><span class="input-group-addon">链接地址</span><input id="url" class="form-control" placeholder="链接地址" value="http://"></div>',
            showCloseButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            showLoaderOnConfirm: true,
            animation: true,
            allowOutsideClick: false,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    $.post("/links/apply", {
                        Name: $('#title').val(),
                        Url: $('#url').val()
                    }, function (res) {
                        resolve(res);
                    });
                });
            }
        }).then(function (result) {
            if (result) {
                if (result.Success) {
                    swal(result.Message, "", "success");
                    location.reload();
                } else {
                    swal(result.Message, "", "error");
                }
            }
        });
    }
</script>
