
@{
    ViewBag.Title = "文章列表页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Masuit.MyBlogs.WebApp.Models
@using Masuit.Tools.Net
@using Models.DTO
@model Models.ViewModel.IndexPageViewModel
<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li class="current"><em>@ViewBag.Title</em></li>
    </ol>
</div>
@{
    UserInfoOutputDto user = Session.GetByRedis<UserInfoOutputDto>(SessionKey.UserInfo) ?? new UserInfoOutputDto();
    Html.RenderPartial(user.IsAdmin ? "_MainContainer_Admin" : "_MainContainer", Model);
}