
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>懒勤网盘</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://ldqk.rth1.me/chunk-vendors.39ab6aaa.css" rel="stylesheet">
    <link href="/drive/css/app.377a312e.css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="https://ldqk.rth1.me/chunk-vendors.b37660ae.js"></script>
    <script type="text/javascript" src="/drive/js/app.8b25141a.js"></script>
</body>
</html>
