
.post-list-container[data-v-08b223d5] {
  padding: 16px;
}
.controls-row[data-v-08b223d5] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
[data-v-08b223d5] .warning-row {
  background-color: #fff3cd !important;
}
.text-red[data-v-08b223d5] {
  color: #f56565 !important;
}
@media (max-width: 768px) {
.controls-row[data-v-08b223d5] {
    flex-direction: column;
    align-items: stretch;
}
}

