
.merge-edit-container[data-v-1d9b97b6] {
  padding: 16px;
}
.editor-container[data-v-1d9b97b6] {
  position: relative;
  border-radius: 4px;
}
.block[data-v-1d9b97b6] {
  display: block;
}
@media (max-width: 768px) {
.merge-edit-container[data-v-1d9b97b6] {
    padding: 8px;
}
}

