
.merge-compare-container[data-v-68fb4316] {
  padding: 16px;
}
.article-content[data-v-68fb4316] {
  line-height: 1.6;
  word-wrap: break-word;
}
.article-content[data-v-68fb4316] img {
  max-width: 100%;
  height: auto;
}
.article-content[data-v-68fb4316] ins {
  background-color: #cfc;
  text-decoration: none;
}
.article-content[data-v-68fb4316] del {
  color: #999;
  background-color: #FEC8C8;
}
@media (max-width: 768px) {
.merge-compare-container[data-v-68fb4316] {
    padding: 8px;
}
}

