
.merge-list-container[data-v-541ca20f] {
  padding: 16px;
}
.text-primary[data-v-541ca20f] {
  color: #1976d2;
  text-decoration: none;
}
.text-primary[data-v-541ca20f]:hover {
  text-decoration: underline;
}

