
.merge-edit-container[data-v-b2248412] {
  padding: 16px;
}
.editor-container[data-v-b2248412] {
  position: relative;
  border-radius: 4px;
}
.block[data-v-b2248412] {
  display: block;
}
@media (max-width: 768px) {
.merge-edit-container[data-v-b2248412] {
    padding: 8px;
}
}

