
.merge-list-container[data-v-346cbf48] {
  padding: 16px;
}
.text-primary[data-v-346cbf48] {
  color: #1976d2;
  text-decoration: none;
}
.text-primary[data-v-346cbf48]:hover {
  text-decoration: underline;
}

