.highlight {
    background-color: #fff34d;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .7);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .7)*/
}