<style>
    .height800 {
        max-height: 800px;
        overflow-y: auto;
    }
</style>
<form class="form-group" id="article-form" method="post" onsubmit="return false">
    <input type="hidden" ng-model="notice.Id">
    <div class="input-group">
        <span class="input-group-addon size18">标题：</span>
        <div class="fg-line">
            <input type="text" class="form-control input-lg" ng-model="notice.Title" required placeholder="请输入文章标题">
        </div>
    </div>
    <!-- 加载编辑器的容器 -->
    <div class="form-group overlay animated bounceInDown">
        <div style="height: 400px;" class="ueditor" ng-model="notice.Content" type="text/plain"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">生效时间段：</span>
                <input type="text" class="form-control" id="timespan" ng-model="notice.Range" readonly="readonly" />
                <span class="input-group-addon">
                    <label class="checkbox checkbox-inline m-r-20">
                        <input id="StrongAlert" ng-model="notice.StrongAlert" type="checkbox">
                        <i class="input-helper"></i>
                        是否弹窗
                    </label>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-info waves-effect" ng-click="submit(notice)">发布</button>
        </div>
    </div>
</form>