
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}
#header_wrap {
  background: #4484c7;
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #4484c7;
}

.nowrap {
  white-space: nowrap;
}
.comment {
    color: #999;
    font-style: italic;
}

.string {
    color: #080;
}

.api-example {
    margin: 10px 0 15px 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  .example-input {
    width: 90%;
  }

  .example-code {
    float: none;
    width: 90%;
  }

  .nowrap {
    white-space: normal;
  }

}
