@using Masuit.MyBlogs.Core.Models.DTO
@using Masuit.MyBlogs.Core.Models.ViewModel
@using Masuit.Tools.Core.Net
@{
  ViewBag.Title = "留言板";
  Layout = "~/Views/Shared/_Layout.cshtml";
  UserInfoDto user = Context.Session.Get<UserInfoDto>(SessionKey.UserInfo);
}
<div class="container min-height610" id="msgApp">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li class="current">
      <em>@ViewBag.Title</em>
    </li>
  </ol>
  <div class="animated form-horizontal">
    @Html.AntiForgeryToken()
    <div class="animated overlay">
      <div class="ueditor" id="editor"></div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <button :disabled="!msg.Content" @@click="submit(msg)" class="btn btn-info btn-lg">
          发表留言
        </button>
        <a class="text-red">留言框可粘贴网络图片</a>
      </div>
    </div>
  </div>
  <parent-messages :data="list" :is-admin="true" @@getmsgs="getmsgs" @@reply-msg="replyMsg"></parent-messages>
  <div class="row">
    <div class="col-md-12 text-center">
      <n-pagination :page-count="Math.ceil(pageConfig.total / pageConfig.size)" :page-sizes="[10, 20, 30, 50]" show-size-picker v-model:page="pageConfig.page" v-model:page-size="pageConfig.size"/>
    </div>
  </div>
  <n-modal :mask-closable="false" :style="{ width: '50vw' }" :title="`回复：${reply.for?.NickName}`" @@positive-click="submit(reply)" negative-text="取消回复" positive-text="回复留言" preset="dialog" v-model:show="showPopup">
    @Html.AntiForgeryToken()
    <div class="ueditor" id="editor2"></div>
  </n-modal>
</div>
<script src="~/UEditorPlus/ueditor.config.front.js"></script>
<script charset="utf-8" src="~/UEditorPlus/ueditor.all.js" type="text/javascript"></script>
<script>
window.defaultUser=function(){
  return {
    NickName: `@user.NickName`,
    Email: `@user.Email`,
    Agree:true,
    IsAdmin:true
  };
}
</script>
<script src="~/Scripts/global/leavemsg.js"></script>