@using Markdig
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>访问被拒绝！</title>
    <style type="text/css">
        .STYLE1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 65px;
        }

        body {
            background-image: url(/images/bg2.jpg);
            background-size: cover;
            background-position: 50% 0;
            margin: 0;
            min-height: 100vh;
        }

            body:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
            }
        .hidden {
            display:none !important;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.css" rel="stylesheet" async defer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.24.1/phaser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
</head>
<body>
    <div class="container">
        <header id="header" class="page-header text-center">
            <h1>Oops!</h1>
        </header>
        <div id="container">
            <h3 class="margintop20">
                <em>
                    <span class="STYLE1">Sorry!访问被拒绝&nbsp;</span>
                </em>
            </h3>
            @Html.Raw(Markdown.ToHtml(Model))
            <form action="/" method="post" class="form-inline" id="code-token">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-addon">邮箱：</span>
                    <input type="email" name="Email" id="email3" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info getcode">获取通行证</button>
                    </span>
                </div>
                <div class="input-group vcode hidden">
                    <span class="input-group-addon">验证码：</span>
                    <input type="text" name="token" id="token" class="form-control" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info">检查通行证</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        try {
            $('body').ripples({
                resolution: 512,
                dropRadius: 20, //px
                perturbance: 0.04,
            });
        }
        catch (e) {
            $('.error').show().text(e);
        }
    });
    $("#code-token").on("submit", function (e) {
        e.preventDefault();
        $.post("/error/CheckViewToken", $(this).serialize(), function (data) {
            if (data.Success) {
                window.location.href = "/";
            } else {
                swal({
                    type: 'error',
                    title: data.Message,
                    showConfirmButton: false,
                    timer: 5000
                });
            }
        });
    });
    $(".getcode").on("click", function (e) {
        e.preventDefault();
        $.post("/error/getviewtoken",
            {
                __RequestVerificationToken: $("[name=__RequestVerificationToken]").val(),
                email: $("#email3").val()
            }, function (data) {
                if (data.Success) {
                    swal({
                        type: 'success',
                        title: "验证码发送成功，请注意查收邮件，若未收到，请检查你的邮箱地址或邮件垃圾箱！",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    window.localStorage.setItem("email", $("#email3").val());
                    $(".getcode").attr('disabled', true);
                    var count = 0;
                    var timer = setInterval(function () {
                        count++;
                        $(".getcode").text('重新发送(' + (120 - count) + ')');
                        if (count > 120) {
                            clearInterval(timer);
                            $(".getcode").attr('disabled', false);
                            $(".getcode").text('重新发送');
                        }
                    }, 1000);
                    $(".vcode").removeClass("hidden");
                } else {
                    swal({
                        type: 'error',
                        title: data.Message,
                        showConfirmButton: true,
                        confirmButtonText: "确定"
                    });
                }
            });
    });
</script>