/*#region 滚动条美化 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e1622f), color-stop(0.05, #fd7d36), color-stop(0.1, #fe9778), color-stop(0.15, #ff9b6a), color-stop(0.2, #f3d64e), color-stop(0.25, #f1b8e4), color-stop(0.3, #d9b8f1), color-stop(0.35, #f1ccb8), color-stop(0.4, #f1f1b8), color-stop(0.45, #b8f1ed), color-stop(0.5, #b8f1cc), color-stop(0.55, #CDDC39), color-stop(0.6, #e7dac9), color-stop(0.65, #FFC107), color-stop(0.7, #FF9800), color-stop(0.75, #fa7497), color-stop(0.8, #f9b747), color-stop(0.85, #dcff93), color-stop(0.9, #b7d28d), color-stop(0.95, #f2debd), color-stop(1,#b7d28d ));*/
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #f1ccb8), color-stop(0.1, #f1f1b8), color-stop(0.2, #b8f1ed), color-stop(0.3, #b8f1cc), color-stop(0.4, #CDDC39), color-stop(0.5, #e7dac9), color-stop(0.6, #FFC107), color-stop(0.7, #dcff93), color-stop(0.8, #b7d28d), color-stop(0.9, #f2debd));
}
/*#endregion */

body {
    background-image: url(/images/bg2.jpg);
    background-size: cover;
    background-position: 50% 0;
    margin: 0;
}
/*#region canvas背景 */

#c {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/*#endregion */

.min-height610 {
    min-height: 758px;
}
.footer {
    margin-top: 10px;
    padding: 8px;
    /*height: 120px;*/
    color: white;
    font-size: 16px;
    line-height: 24px;
    background-color: #3f3f3f;
    transition: ease-in-out 1s;
    text-align: center;
}
.footer a {
    color: wheat;
}
.footer a:hover {
    text-decoration: underline;
    transform: rotate(360deg);
    transition: ease-in-out .5s;
}

/*#region 返回顶部火箭筒 */

#rocket-to-top div {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 149px;
}

#rocket-to-top .level-2 {
    background: url("/assets/scrolltop/images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display: none;
    height: 150px;
    opacity: 0;
    z-index: 1;
}

#rocket-to-top .level-3 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 150px;
    z-index: 2;
}

#rocket-to-top {
    background: url("/assets/scrolltop/images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor: default;
    display: block;
    height: 150px;
    margin: -125px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    /*top: 83%;*/
    bottom: 20px;
    width: 105px;
    z-index: 11;
}


/*#endregion */
.box { margin: 0 10%; }

.size14 { font-size: 14px !important; }

.size16 { font-size: 16px !important; }

.size18 { font-size: 18px !important; }

.size20 { font-size: 20px !important; }

.size24 { font-size: 24px !important; }
.size28 { font-size: 28px !important; }
.size32 { font-size: 32px !important; }
.size36 { font-size: 36px !important; }

.size48 { font-size: 48px !important; }

.ueditor { border: none; }

.margin-clear { margin: 0 !important; }

.padding-clear { padding: 0 !important; }

.margintop-clear { margin-top: 0 !important; }

.paddingtop-clear { padding-top: 0 !important; }

.marginbot-clear { margin-bottom: 0 !important; }

.paddingbot-clear { padding-bottom: 0 !important; }

.marginleft-clear { margin-left: 0 !important; }

.paddingleft-clear { padding-left: 0 !important; }

.marginright-clear { margin-right: 0 !important; }

.paddingright-clear { padding-right: 0 !important; }

.padding-top40 { padding-top: 40px !important; }

.padding-topt60 { padding-top: 60px !important; }

.padding-top70 { padding-top: 70px !important; }

.padding-bot5 { padding-bottom: 5px !important; }

.padding-bot10 { padding-bottom: 10px !important; }

.padding-bot15 { padding-bottom: 15px !important; }

.padding-bot20 { padding-bottom: 20px !important; }

.padding-bot30 { padding-bottom: 30px !important; }

.padding-bot40 { padding-bottom: 40px !important; }

.padding-bot50 { padding-bottom: 50px !important; }

.padding-bot60 { padding-bottom: 60px !important; }

.padding-bot70 { padding-bottom: 70px !important; }

.margin-mintop10 { margin-top: -10px !important; }
.margin-top10 { margin-top: 10px !important; }
.margin-bot10 { margin-bottom: 10px !important; }

.margin-mintop20 { margin-top: -20px !important; }

.margin-mintop30 { margin-top: -30px !important; }

.margin-mintop60 { margin-top: -60px !important; }

.margin-mintop110 { margin-top: -110px !important; }

.margin-minbot10 { margin-bottom: -10px !important; }

.margin-minbot20 { margin-bottom: -20px !important; }

.margin-minbot30 { margin-bottom: -30px !important; }

.margin-minbot60 { margin-bottom: -60px !important; }

/*
Custom left right spacer
=========================== */

.margin-left10 { margin-left: 10px !important; }

.margin-right10 { margin-right: 10px !important; }

.margin-left20 { margin-left: 20px !important; }

.margin-right20 { margin-right: 20px !important; }

/*
Custom top spacer
=========================== */

.margintop5 { margin-top: 5px !important; }

.margintop10 { margin-top: 10px !important; }

.margintop15 { margin-top: 15px !important; }

.margintop20 { margin-top: 20px !important; }

.margintop25 { margin-top: 25px !important; }

.margintop30 { margin-top: 30px !important; }

.margintop35 { margin-top: 35px !important; }

.margintop40 { margin-top: 40px !important; }

.margintop45 { margin-top: 45px !important; }

.margintop50 { margin-top: 50px !important; }

.margintop55 { margin-top: 55px !important; }

.margintop60 { margin-top: 60px !important; }

.margintop80 { margin-top: 80px !important; }

/*
Custom bottom spacer
=========================== */

.marginbot5 { margin-bottom: 5px !important; }

.marginbot10 { margin-bottom: 10px !important; }

.marginbot15 { margin-bottom: 15px !important; }

.marginbot20 { margin-bottom: 20px !important; }

.marginbot25 { margin-bottom: 25px !important; }

.marginbot30 { margin-bottom: 30px !important; }

.marginbot35 { margin-bottom: 35px !important; }

.marginbot40 { margin-bottom: 40px !important; }

.marginbot45 { margin-bottom: 45px !important; }


.marginbot50 { margin-bottom: 50px !important; }

.marginbot55 { margin-bottom: 55px !important; }

.marginbot60 { margin-bottom: 60px !important; }

.marginbot80 { margin-bottom: 80px !important; }

.msg-list .panel .panel-body { padding: 2px; }

.msg-list article.panel {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 1px;
}
    .msg-list article.panel article.panel {
        margin-left: 10px;
        /*margin-right: 15px;*/
    }
.msg-list article.panel>.panel-heading {
    padding: 5px 2px;
}
.msg-list article.panel>.panel-heading>span {
    line-height: 18px;
}

.msg-list .cmvote { cursor: pointer; }

.news-item {
    padding: 4px 4px;
    margin: 0px;
    border-bottom: 1px dotted #555;
}

.line-height28 { line-height: 28px; }
.line-height24 { line-height: 24px; }

.padding-10 { padding: 10px; }
.notice {
    overflow: hidden;
    word-wrap: inherit;
    color: black;
    border: 1px dashed #F60;
    clear: both;
    margin-bottom: 10px;
    padding: 5px;
}
.notice img {
    max-height: 80px;
}
.layui-layer-content img {
    max-height: 50vh;
    max-width: 100%;
}
.media {
    margin: 0;
}
.form-control,.panel, .list-group-item, .panel-footer {
    background-color: transparent;
}
.page-header {
    margin-top: 0px;
}
.notices {
    min-height: 100px;
}
.text-white {
    color: white;
}
.inline {
    display: inline !important;
}
.highlight {
    background: yellow;
    color: red;
}

.prelight {
    background: blue;
    color: white;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

    .header-content .divider {
        width: inherit;
        height: 20px;
        margin-top: 20px;
        border-top: 3px solid rebeccapurple;
    }

.page-list .pagination {
    float: left;
}

    .page-list .pagination span {
        cursor: pointer;
    }

    .page-list .pagination .separate span {
        cursor: default;
        border-top: none;
        border-bottom: none;
    }

        .page-list .pagination .separate span:hover {
            background: none;
        }

.page-list .page-total {
    float: left;
    margin: 25px 20px;
}

    .page-list .page-total input, .page-list .page-total select {
        height: 26px;
        border: 1px solid #ddd;
    }

    .page-list .page-total input {
        width: 40px;
        padding-left: 3px;
    }

    .page-list .page-total select {
        width: 50px;
    }

.rainbow {
    background-image: linear-gradient(-45deg, rgba(255, 0, 0, .3), rgba(255, 255, 0, .3), rgba(0, 255, 255, .2), rgba(0, 0, 255, .15), rgba(255, 0, 255, .2), rgba(255, 0, 0, .3));
}
#reply-form {
    margin: 15px 0;
}
#reply-form .form-group {
    margin-bottom: 0;
}

.tippy-scale {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.close-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.text-red {
    font-size: 16px;
    color: #F44336;
}
.text-green {
    color: #009900;
    font-size: 16px;
}
.text-blue {
    font-size: 16px;
    color: #2196F3;
}
.border {
    border: #ccc 1px solid;
    border-radius: 5px;
    /*margin-bottom: 10px;*/
    /*min-width: 260px;*/
    box-shadow: #f5deb3 0px 0px 3px inset;
}

.box-left.box-right {
    margin-top: 5px;
}

.box-left {
    border: #ccc 1.5px solid;
    border-radius: 8px;
    box-shadow: #f5deb3 0px 0px 3px inset;
}
.box-right {
    padding-right: 0;
}
.box-right .panel {
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 3px;
}

.box-right .panel .panel-body {
    padding: 2px;
}

.box-right .panel .panel-body .list-group {
    margin-bottom: 0;
}

.box-right .panel .panel-body .list-group-item {
    background-color: transparent;
    padding: 2px;
    font-size: 16px;
}
.orderby {
    z-index: 10;
}

.blog h2 {
    font-weight: 700
}

.blog .btn, .blog h5 {
    margin: 0 0 5px
}


.wrapper-content {
    padding: 10px 0;
}

.ibox.ui-sortable-placeholder {
    margin: 0 0 23px !important
}

.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px
}

.ui-draggable .ibox-title {
    cursor: move
}

.ibox {
    clear: both;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0
}
.ibox-content > a[href] {
    text-decoration: none;
}
    .ibox-content > a[href] h4 {
        color: #3f3f3f;
        margin: 0 0 15px 0;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 20px;
        transition: ease-in-out .25s;
    }
.ibox-content > a[href] > h1:hover, .ibox-content > a[href] > h2:hover, .ibox-content > a[href] > h3:hover, .ibox-content > a[href] > h4:hover, .ibox-content > a[href] > h5:hover, .ibox-content > a[href] > h6:hover {
    color: cadetblue;
    transform:scale(1.01,1.1);
    transition: ease-in-out .25s;
}
.ibox.collapsed .ibox-content {
    display: none
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078"
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077"
}

.ibox:after, .ibox:before {
    display: table
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px
}

.ibox-content {
    clear: both;
    background-color: transparent;
    color: inherit;
    padding: 10px 10px 3px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: #c4c4c4 0 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}

    .ibox-content p {
        line-height: 24px;
        word-break: break-all;
    }
    .ibox-content pre {
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-line;
    }

.article>.ibox>.ibox-content>main header.page-header a h2 {
    font-size: 24px;
    line-height: 32px;
}

.article>.ibox>.ibox-content>main p {
    font-size: 15px;
    line-height: 22px;
    word-break: break-all;
}
.ibox-content .thumb {
    transition: ease-in-out .3s;
    overflow: hidden;
}
.ibox-content article.article h3,.ibox-content section h3, .ibox-content section.row h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 6px;
    white-space: normal;
    padding: 0 0 2px 7px;
    line-height: 36px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    border-left: 5px solid rgb(53, 161, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    user-select: text !important;
    font-family: 微软雅黑, Tahoma, Helvetica, SimSun, sans-serif;
}
.ibox-content article.article h4,.ibox-content section h4, .ibox-content section.row h4 {
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 3px;
    white-space: normal;
    padding: 0 0 2px 15px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    border-left: 5px solid rgb(53, 161, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    user-select: text !important;
    font-family: 微软雅黑, Tahoma, Helvetica, SimSun, sans-serif;
}
.ibox-content article.article h5,.ibox-content section h5, .ibox-content section.row h5 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 2px;
    white-space: normal;
    padding: 0 0 2px 20px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    border-left: 5px solid rgb(53, 161, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    user-select: text !important;
    font-family: 微软雅黑, Tahoma, Helvetica, SimSun, sans-serif;
}
.ibox-content article.article h6,.ibox-content section h6, .ibox-content section.row h6 {
    font-size: 16px;
    white-space: normal;
    padding: 0 0 2px 20px;
    line-height: 18px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    border-left: 5px solid rgb(53, 161, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    user-select: text !important;
    font-family: 微软雅黑, Tahoma, Helvetica, SimSun, sans-serif;
}
.ibox-content .thumb:hover {
    transform: scale(1.1);
    transition: ease-in-out .3s;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none
}

    .ibox-heading h3 {
        font-weight: 200;
        font-size: 24px;
    }

.ibox-title h5 {
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left
}

.ibox-title .label {
    float: left;
    margin-left: 4px
}

.ibox-tools {
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4
}

.ibox-tools a.btn-primary {
    color: #fff
}

.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px
}

.ibox .open > .dropdown-menu {
    left: auto;
    right: 0
}

.chat-view .ibox-content {
    padding: 0
}

.article .ibox-content {
    padding: 20px
}
.fixtop {
    font-size: 24px;
    color: red;
}

.new {
    font-size: 24px;
    color: green;
}

.float-e-margins .btn {
    margin-bottom: 5px
}
.search-form {
    margin-top: 10px
}
.file-manager .hr-line-dashed {
    margin: 15px 0
}

.hr-line-dashed {
    border-top: 1px dashed #F5afA5;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 5px 0
}
.search-result h3 {
    margin-bottom: 0;
    color: #1E0FBE
}

.search-result .search-link {
    color: #006621
}

.search-result p {
    font-size: 12px;
    margin-top: 5px
}
.protected {
    border: 1px dashed #F60;
    padding: 10px;
    line-height: 200%;
    overflow: hidden;
    clear: both;
    margin-top: 20px;
}
.button-effect { padding: 10px 0px; }

.button-effect h2 {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.button-effect a { margin-right: 17px; }

.button-effect a:nth-child(n) { background-color: #1e90ff; }

.button-effect a:nth-child(2n) { background-color: #541388; }

.button-effect a:nth-child(3n) { background-color: #D90368; }

.button-effect a:nth-child(4n) { background-color: #104547; }

.button-effect a:nth-child(5n) { background-color: #4F000B; }

.button-effect a:nth-child(6n) { background-color: #F28123; }

.button-effect a:last-child { margin-right: 0px; }

.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 5px;
    line-height: 24px;
    width: 150px;
    border-radius: 6px;
    background-color: #1e90ff;
    overflow: hidden;
}

.effect.effect-1 {
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-1:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-1:hover { text-indent: -20px; }

.effect.effect-1:hover:before {
    opacity: 1;
    text-indent: 0px;
}

.effect.effect-2 {
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-2:before {
    content: "\f0a4";
    font-family: FontAwesome;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 6px 6px 0px;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    text-align: center;
}

.effect.effect-2:hover { text-indent: -30px; }

.effect.effect-2:hover:before {
    right: 0;
    text-indent: 0px;
}

.effect.effect-3 {
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-3:before {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-3:hover { text-indent: -9999px; }

.effect.effect-3:hover:before {
    top: 0;
    text-indent: 0;
}

.effect.effect-4 {
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-4:before {
    content: "\f178";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-4:hover { text-indent: -9999px; }

.effect.effect-4:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    text-indent: 0;
}

.effect.effect-5 {
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-5:before {
    content: "\f054";
    font-family: FontAwesome;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 50% 50% 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.effect.effect-5:hover { text-indent: 30px; }

.effect.effect-5:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    text-indent: 0;
}
/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.leaderboard-box {
    position: relative;
    min-height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*width: 285px;*/
    min-width: 100%;
    /*height: 350px;*/
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.leaderboard ol {
  counter-reset: leaderboard;
}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
}
.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}
.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 87%;
  height: 100%;
  padding: 18px 10px 18px 38px;
  margin: 0;
  background: none;
  color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leaderboard ol li mark::before, .leaderboard ol li mark::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: 0;
}
.leaderboard ol li mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}
.leaderboard ol li small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}
.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}
.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}
.leaderboard ol li:nth-child(1)::after {
  background: #fa6855;
}
.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}
.leaderboard ol li:nth-child(2)::after {
  background: #e0574f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.leaderboard ol li:nth-child(2) mark::before, .leaderboard ol li:nth-child(2) mark::after {
  border-top: 6px solid #ba4741;
  bottom: -7px;
}
.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}
.leaderboard ol li:nth-child(3)::after {
  background: #d7514d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.leaderboard ol li:nth-child(3) mark::before, .leaderboard ol li:nth-child(3) mark::after {
  border-top: 2px solid #b0433f;
  bottom: -3px;
}
.leaderboard ol li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard ol li:nth-child(4)::after {
  background: #cd4b4b;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.leaderboard ol li:nth-child(4) mark::before, .leaderboard ol li:nth-child(4) mark::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #a63d3d;
}
.leaderboard ol li:nth-child(5) {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5)::after {
  background: #c24448;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5) mark::before, .leaderboard ol li:nth-child(5) mark::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #993639;
}
.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}
.leaderboard ol li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1.06) scaleY(1.03);
          transform: scaleX(1.06) scaleY(1.03);
}
.leaderboard ol li:hover mark::before, .leaderboard ol li:hover mark::after {
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

/*加载动画1*/

.loading1,.loading3 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: transparent;
    z-index: 2147483647;
}

.loadEffect {
    position: fixed;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    top: 50%;
    margin-top: -100px;
}

.loadEffect div {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: load 2.08s linear infinite;
}

.loadEffect div .bg-danger { background-color: #f43438; }

.loadEffect div .bg-default { background-color: #00bfff; }

.loadEffect div .bg-info { background-color: forestgreen; }

.loadEffect div .bg-success { background-color: greenyellow; }

.loadEffect div .bg-warning { background-color: rosybrown; }


.loadEffect div span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*background: lightgreen;*/
    position: absolute;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

@-webkit-keyframes load {
    0% { -webkit-transform: rotate(0deg); }

    10% { -webkit-transform: rotate(45deg); }

    50% {
        opacity: 1;
        -webkit-transform: rotate(160deg);
    }

    62% { opacity: 0; }

    65% {
        opacity: 0;
        -webkit-transform: rotate(200deg);
    }

    90% { -webkit-transform: rotate(340deg); }

    100% { -webkit-transform: rotate(360deg); }
}

.loadEffect div:nth-child(1) { -webkit-animation-delay: 0s; }

.loadEffect div:nth-child(2) { -webkit-animation-delay: 0.2s; }

.loadEffect div:nth-child(3) { -webkit-animation-delay: 0.4s; }

.loadEffect div:nth-child(4) { -webkit-animation-delay: 0.6s; }

.loadEffect div:nth-child(5) { -webkit-animation-delay: 0.8s; }

.loadEffect div:nth-child(6) { -webkit-animation-delay: 1s; }

/*加载动画1结束*/

/*#region 加载动画2 */

.loading2 {
    position: fixed;
    background-image: linear-gradient(0deg, rgba(57, 94, 203, 0) 0%, rgba(54, 87, 190, 0.3) 35%, rgba(36, 33, 97, 0.3) 75%, rgba(26, 5, 49, 0) 100%);
    left: 0;
    display: none;
    right: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 2147483647;
}

.bg0 {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(images/bg0.png) no-repeat center center;
    background-size: 150%;
}

.bg1 {
    width: 100%;
    height: 100%;
    background: url(images/bg1.png) no-repeat center center;
}

.hx-box {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateY(75deg);
}

.hx-box ul {
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    animation: hxz 20s linear infinite;
}

@keyframes hxz {
    0% { transform: rotateX(0deg); }

    100% { transform: rotateX(-360deg); }
}

.hx-box ul li {
    width: 500px;
    height: 500px;
    border: 4px solid #5ec0ff;
    border-radius: 1000px;
}

.hx-box ul li span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/hx.png) no-repeat center center;
    background-size: 100% 100%;
    animation: hx 4s linear infinite;
}

@keyframes hx { to { transform: rotate(360deg); } }

.hx-k2 { transform: rotateX(60deg) rotateZ(60deg) }

.hx-k3 { transform: rotateX(-60deg) rotateZ(-60deg) }

li { list-style: none }

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.dv {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.dv.dvv:active, .dv.dvv:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.dn { display: none }

.db { display: block }

.fix:after, .fix:before {
    content: " ";
    display: table
}

.fix:after { clear: both }

.fl { float: left }

.fr { float: right }

.pr { position: relative }

.pa, .pa0 { position: absolute }

.pa0 {
    left: 0;
    top: 0
}

.oh { overflow: hidden }

.wh {
    width: 100%;
    height: 100%
}

.bo { border: 1px solid red }

.mg {
    margin-left: auto;
    margin-right: auto
}

.tc { text-align: center; }

.wp { margin: 0 auto }


/*#endregion */
/*#region loading3 */

.c {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .c li {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation: anim 1s ease-in-out infinite;
        animation: anim 1s ease-in-out infinite;
        will-change: transform, filter;
    }

        .c li:nth-child(1) {
            width: 1em;
            height: 1em;
        }

            .c li:nth-child(1):after {
                content: '';
                display: block;
                font-size: 25%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                -webkit-box-shadow: 1em 0 0 rgba(72, 157, 138, 0.2), -1em 0 0 rgba(50, 70, 80, 0.2), 0 1em 0 rgba(211, 75, 76, 0.2), 0 -1em 0 rgba(232, 169, 97, 0.2);
                box-shadow: 1em 0 0 rgba(72, 157, 138, 0.2), -1em 0 0 rgba(50, 70, 80, 0.2), 0 1em 0 rgba(211, 75, 76, 0.2), 0 -1em 0 rgba(232, 169, 97, 0.2);
            }

        .c li:nth-child(2) {
            -webkit-animation-delay: .1s;
            animation-delay: .1s;
            width: 2em;
            height: 2em;
        }

            .c li:nth-child(2):after {
                content: '';
                display: block;
                font-size: 50%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                -webkit-box-shadow: 1.5em 0 0 rgba(72, 157, 138, 0.4), -1.5em 0 0 rgba(50, 70, 80, 0.4), 0 1.5em 0 rgba(211, 75, 76, 0.4), 0 -1.5em 0 rgba(232, 169, 97, 0.4);
                box-shadow: 1.5em 0 0 rgba(72, 157, 138, 0.4), -1.5em 0 0 rgba(50, 70, 80, 0.4), 0 1.5em 0 rgba(211, 75, 76, 0.4), 0 -1.5em 0 rgba(232, 169, 97, 0.4);
            }

        .c li:nth-child(3) {
            -webkit-animation-delay: .15s;
            animation-delay: .15s;
            width: 3em;
            height: 3em;
        }

            .c li:nth-child(3):after {
                content: '';
                display: block;
                font-size: 75%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                -webkit-box-shadow: 2em 0 0 rgba(72, 157, 138, 0.6), -2em 0 0 rgba(50, 70, 80, 0.6), 0 2em 0 rgba(211, 75, 76, 0.6), 0 -2em 0 rgba(232, 169, 97, 0.6);
                box-shadow: 2em 0 0 rgba(72, 157, 138, 0.6), -2em 0 0 rgba(50, 70, 80, 0.6), 0 2em 0 rgba(211, 75, 76, 0.6), 0 -2em 0 rgba(232, 169, 97, 0.6);
            }

        .c li:nth-child(4) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
            width: 4em;
            height: 4em;
        }

            .c li:nth-child(4):after {
                content: '';
                display: block;
                font-size: 100%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                -webkit-box-shadow: 2.5em 0 0 rgba(72, 157, 138, 0.8), -2.5em 0 0 rgba(50, 70, 80, 0.8), 0 2.5em 0 rgba(211, 75, 76, 0.8), 0 -2.5em 0 rgba(232, 169, 97, 0.8);
                box-shadow: 2.5em 0 0 rgba(72, 157, 138, 0.8), -2.5em 0 0 rgba(50, 70, 80, 0.8), 0 2.5em 0 rgba(211, 75, 76, 0.8), 0 -2.5em 0 rgba(232, 169, 97, 0.8);
            }

        .c li:nth-child(5) {
            -webkit-animation-delay: .25s;
            animation-delay: .25s;
            width: 5em;
            height: 5em;
        }

            .c li:nth-child(5):after {
                content: '';
                display: block;
                font-size: 125%;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                -webkit-box-shadow: 3em 0 0 #489D8A, -3em 0 0 #324650, 0 3em 0 #D34B4C, 0 -3em 0 #E8A961;
                box-shadow: 3em 0 0 #489D8A, -3em 0 0 #324650, 0 3em 0 #D34B4C, 0 -3em 0 #E8A961;
            }

@-webkit-keyframes anim {
    50% {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    90%, 100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes anim {
    50% {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }

    90%, 100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

/*#endregion */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer {
    background-color: transparent;
    color: #333333;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    *zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

.fl, .fr {
    _display: inline
}

.top-banner {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    width: 100%;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
}

    .top-banner a {
        color: #fff;
        text-decoration: none;
    }

.icon {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
    fill: rgba(51, 51, 51, 0.5);
    margin-right: 20px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

    .icon.active {
        fill: #E74C3C;
    }

    .icon.big {
        width: 64px;
        height: 64px;
        fill: rgba(51, 51, 51, 0.5);
    }

#wrapper {
    height: 68vh;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    overflow: hidden;
}

#left-side {
    height: 70%;
    width: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    #left-side ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        line-height: 34px;
        color: rgba(51, 51, 51, 0.5);
        font-weight: 500;
        cursor: pointer;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

        #left-side ul li:hover {
            color: #333333;
            -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

            #left-side ul li:hover > .icon {
                fill: #333;
            }

        #left-side ul li.active {
            color: #333333;
        }

            #left-side ul li.active:hover > .icon {
                fill: #E74C3C;
            }

#border {
    height: 288px;
    width: 1px;
    background-color: rgba(51, 51, 51, 0.2);
}

    #border #line.one {
        width: 5px;
        height: 54px;
        background-color: #E74C3C;
        margin-left: -2px;
        margin-top: 60px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    #border #line.two {
        width: 5px;
        height: 54px;
        background-color: #E74C3C;
        margin-left: -2px;
        margin-top: 115px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    #border #line.three {
        width: 5px;
        height: 54px;
        background-color: #E74C3C;
        margin-left: -2px;
        margin-top: 180px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

#right-side {
    height: 300px;
    width: 75%;
    overflow: hidden;
}

    #right-side #first, #right-side #second, #right-side #third, #right-side #fourth {
        position: absolute;
        height: 300px;
        width: 75%;
        -webkit-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
        margin-top: -350px;
        opacity: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

        #right-side #first h1, #right-side #second h1, #right-side #third h1, #right-side #fourth h1 {
            font-weight: 800;
            color: #333;
        }

        #right-side #first p, #right-side #second p, #right-side #third p, #right-side #fourth p {
            color: #333;
            font-size: 20px;
            line-height: 36px;
            font-weight: 500;
            padding-left: 30px;
            padding-right: 30px;
        }

        #right-side #first.active, #right-side #second.active, #right-side #third.active, #right-side #fourth.active {
            margin-top: 0px;
            opacity: 1;
            -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            z-index: 10;
        }
@media only screen and (max-width: 800px) {
    #wrapper {
        height: 80vh;
    }
}
@media only screen and (max-width: 660px) {
    #wrapper {
        height: 100vh;
    }
}
@media only screen and (max-width: 539px) {
    #wrapper {
        height: 120vh;
    }
}
@media only screen and (max-width: 435px) {
    #wrapper {
        height: 180vh;
    }
}
@media only screen and (max-width: 400px) {
    #wrapper {
        height: 200vh;
    }
}
@media only screen and (max-width: 360px) {
    #wrapper {
        height: 220vh;
    }
}
@media only screen and (max-width: 320px) {
    #wrapper {
        height: 250vh;
    }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main { display: block; }

body {
    line-height: 1;
    overflow: -Scroll;
    overflow-x: hidden;
    min-width: 320px;
    font-family: "΢���ź�","Microsoft Yahei", sans-serif;
}
ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.notie-container {
    z-index: 2147483647 !important;
}
.layui-layer-content {
    max-height: 60vh;
}