<div class="card">
    <div class="card-header">
        <h2>防火墙策略配置</h2>
    </div>
    <div class="card-body">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">启用地区限制访问策略：</span>
                        <span class="el-switch">
                            <input type="checkbox" name="switch" ng-checked="Settings.EnableDenyArea=='true'">
                            <span class="el-switch-style" ng-click="EnableDenyAreaPolicy()"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" ng-click="getIPBlackList()">查看IP黑名单</button>
                        <button type="button" class="btn btn-primary" ng-click="getIPWhiteList()">查看IP白名单</button>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon el-switch">
                    <span>受限制的地区：</span>
                </span>
                <div class="fg-line">
                    <textarea type="text" rows="3" class="form-control" ng-model="Settings.DenyArea" placeholder="禁止访问的地区，逗号分隔" ng-readonly="Settings.EnableDenyArea=='false'"></textarea>
                </div>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="save()">保存配置</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="page-header text-center">
        <h3>拦截日志</h3>
    </div>
    <button class="btn btn-default waves-effect" ng-click="list.clear()">
        <span class="icon icon-bin"></span>
    </button>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'IP'" filter="{IP: 'text'}" sortable="'IP'">
                <a ng-href="/tools/ip?ip={{row.IP}}" target="_blank" style="font-size: 20px;" data-microtip="查看{{row.IP}}的详细信息" data-microtip-position="bottom">{{row.IP}}</a>
            </td>
            <td title="'请求URL'" filter="{RequestUrl: 'text'}" sortable="'RequestUrl'">
                {{row.RequestUrl}}
            </td>
            <td title="'地理位置'" filter="{Address: 'text'}" sortable="'Address'">
                {{row.Address}}
            </td>
            <td title="'拦截时间'" sortable="'Time'">
                {{row.Time|date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
        </tr>
    </table>
</div>
