<style>
    .wicon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAASAgMAAAA1aVZ3AAAACVBMVEUAAAD///9nyrNdI4MmAAAAAXRSTlMAQObYZgAAAChJREFUCNdjWAUCCxjg9DQgtTKBAUN8aigQJGCho6KiYDSJ8ggaYR8Ao74zAKjm+cYAAAAASUVORK5CYII=");
        background-repeat: no-repeat;
        background-position: right center;
    }

    .workinput {
        width: 100%;
        line-height: 21px;
        border: 1px #ddd solid;
        border-radius: 4px;
        padding: 5px;
        background-color: transparent;
        float: left;
        font-size: 14px;
    }
</style>
<form class="form-group" id="article-form" method="post" onsubmit="return false">
    <input ng-model="post.Author" type="hidden">
    <input ng-model="post.Email" type="hidden">
    <div class="input-group">
        <span class="input-group-addon size18">文章标题：</span>
        <div class="fg-line">
            <input class="form-control input-lg" ng-model="post.Title" placeholder="请输入文章标题" required type="text">
        </div>
        <span class="input-group-btn">
            <button class="btn btn-info btn-lg waves-effect" ng-click="showupload()" style="font-size: 15px;" type="button">
                <i class="icon-upload4 size18"></i>上传word文档
            </button>
        </span>
    </div>
    <!-- 加载编辑器的容器 -->
    <div class="animated form-group overlay">
        <div class="ueditor" ng-model="post.Content" style="height: 56vh;" type="text/plain"></div>
        <h3 class="size16">
            文章加密内容：
            <small class="form-group form-inline">
                <div class="input-group">
                    <select class="form-control" ng-model="post.ProtectContentMode" ng-init="post.ProtectContentMode=0">
                        <option ng-value="0">无加密</option>
                        <option ng-value="1">评论可见</option>
                        <option ng-value="2">地区可见：</option>
                        <option ng-value="3">授权可见</option>
                        <option ng-value="4">密码可见</option>
                    </select>
                </div>
                <div class="input-group" ng-if="post.ProtectContentMode==2">
                    <div class="fg-line">
                        <input class="form-control" id="region" ng-model="post.ProtectContentRegions" placeholder="竖线分隔，支持国家、地区、城市、运营商、ASN" style="width: 460px" type="text" list="ProtectContentRegions">
                        <datalist id="ProtectContentRegions">
                            <option ng-repeat="item in Regions track by $index">{{item}}</option>
                        </datalist>
                        <select class="form-control" ng-init="post.ProtectContentLimitMode=post.ProtectContentLimitMode||1" ng-model="post.ProtectContentLimitMode">
                            <option ng-value="1">以内</option>
                            <option ng-value="2">以外</option>
                        </select>
                    </div>
                </div>
                <div class="input-group" ng-if="post.ProtectContentMode==4">
                    <span class="input-group-addon">密码：</span>
                    <div class="fg-line">
                        <input class="form-control" ng-model="post.ProtectPassword" style="width: 200px" type="text">
                    </div>
                </div>
            </small>
        </h3>
        <div ng-if="post.ProtectContentMode>0">
            <div class="ueditor" ng-model="post.ProtectContent" style="height: 200px;" type="text/plain"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">分类：</span>
                <div class="category dropdown fluid search selection ui">
                    <input id="category" name="category" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择分类</div>
                    <div class="menu">
                        <div class="item" data-value="{{item.Id}}" ng-repeat="item in cat track by $index">{{item.Name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">标签：</span>
                <div class="dropdown fluid multiple search selection tags ui">
                    <input id="Label" name="Label" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">标签(选择或输入新标签)</div>
                    <div class="menu">
                        <div class="item" data-value="{{item}}" ng-repeat="item in Tags track by $index">{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">文章关键词：</span>
                <div class="dropdown fluid keyword multiple search selection ui">
                    <input id="keyword" name="keyword" type="hidden">
                    <div class="default text">文章关键词</div>
                    <div class="menu"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">专题：</span>
                <div class="dropdown fluid multiple search selection seminar ui">
                    <input id="seminar" name="seminar" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">选择专题(可选)</div>
                    <div class="menu">
                        <div class="item" data-value="{{item.Id}}" ng-repeat="item in Seminars track by $index">{{item.Title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">作者：</span>
                <div class="fg-line">
                    <input class="form-control" ng-model="post.Author" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">邮箱：</span>
                <div class="fg-line">
                    <input class="form-control" ng-model="post.Email" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <label class="checkbox checkbox-inline m-r-20">
                        <input id="DisableCopy" ng-model="post.DisableCopy" type="checkbox">
                        <i class="input-helper"></i>
                        禁止转载
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input id="DisableComment" ng-model="post.DisableComment" type="checkbox">
                        <i class="input-helper"></i>
                        禁止评论
                    </label>
                    <label class="checkbox checkbox-inline m-r-20">
                        <input ng-click="Scheduled()" ng-model="post.schedule" type="checkbox">
                        <i class="input-helper"></i>
                        定时发表
                    </label>
                </span>
            </div>
        </div>
        <div class="col-md-3" ng-if="post.schedule">
            <div class="input-group">
                <span class="input-group-addon" ng-if="post.schedule">
                    <label for="Label">定时：</label>
                </span>
                <input class="wicon workinput" id="timespan" ng-if="post.schedule" ng-model="post.timespan" readonly="readonly" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">跳转到第三方链接：</span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="https://baidu.com 留空不跳转" ng-model="post.Redirect" name="Regions" list="Regions">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">按地区投放：</span>
                <select class="form-control" ng-init="post.LimitMode = 0" ng-model="post.LimitMode">
                    <option ng-value="0" selected="selected">不限</option>
                    <optgroup label="可见性">
                        <option ng-value="1">指定地区可见</option>
                        <option ng-value="3">指定地区可见但排除在内的这些地区</option>
                    </optgroup>
                    <optgroup label="不可见性">
                        <option ng-value="2">指定地区不可见</option>
                        <option ng-value="4">指定地区不可见但排除在内的这些地区</option>
                    </optgroup>
                </select>
                <span class="input-group-btn" ng-if="(post.LimitMode||0)==0">
                    <button class="btn btn-info" ng-click="submit(post)" type="button">发布</button>
                </span>
            </div>
        </div>
        <div class="col-md-5" ng-if="post.LimitMode>0">
            <div class="input-group">
                <span class="input-group-addon" ng-if="post.LimitMode%2==1">可见地区：</span>
                <span class="input-group-addon" ng-if="post.LimitMode%2==0">
                    <strong class="text-red">不可见地区：</strong>
                </span>
                <div class="fg-line">
                    <input class="form-control" list="Regions" name="Regions" ng-model="post.Regions" placeholder="竖线分隔，如：江苏|苏州|移动|AS2333|DMIT，支持地区、运营商、ASN、机房名称" type="text">
                    <datalist id="Regions">
                        <option ng-repeat="item in Regions track by $index">{{item}}</option>
                    </datalist>
                </div>
                <span class="input-group-btn" ng-if="post.LimitMode<3">
                    <button class="btn btn-info waves-effect" ng-click="submit(post)" type="button">发布</button>
                </span>
            </div>
        </div>
        <div class="col-md-4" ng-if="post.LimitMode==3||post.LimitMode==4">
            <div class="input-group">
                <span class="input-group-addon">排除地区：</span>
                <div class="fg-line">
                    <input class="form-control" list="ExceptRegions" name="ExceptRegions" ng-model="post.ExceptRegions" placeholder="竖线分隔，如：江苏|苏州|移动|AS2333|DMIT，支持地区、运营商、ASN、机房名称" type="text">
                    <datalist id="ExceptRegions">
                        <option ng-repeat="item in ExceptRegions track by $index">{{item}}</option>
                    </datalist>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-info waves-effect" ng-click="submit(post)" type="button">发布</button>
                </span>
            </div>
        </div>
    </div>
</form>
<div style="position: absolute; left: -20000px; height: 0; overflow: hidden;">
    <div id="docfile">
        <form enctype="multipart/form-data" id="docform" onsubmit="return false">
            <h4 class="h4">注意：重复上传将会覆盖之前上传的内容！</h4>
            <div class="file-box">
                <div class="input-group">
                    <input class="form-control" disabled name="copyFile" type="text"/>
                    <span class="input-group-btn">
                        <a class="btn btn-info" href="javascript:void(0);">浏览</a>
                    </span>
                    <input class="uploadFile" name="upload" onchange="getFile(this, 'copyFile')" type="file"/>
                </div>
            </div>
        </form>
        <button class="btn btn-primary waves-effect" ng-click="upload()" type="button"> 上传 </button>
    </div>
</div>