@model Masuit.MyBlogs.Core.Models.Entity.Category
@if(Model.ParentId>0) {
    await Html.RenderPartialAsync("CategoryPath", Model.Parent);
    <text> / </text>
}
<a asp-controller="Home" asp-action="Category" asp-route-id="@Model.Id" class="label label-info">@Model.Name</a>