@using Masuit.MyBlogs.Core.Common
@using Masuit.MyBlogs.Core.Models.DTO
@using Masuit.MyBlogs.Core.Models.ViewModel
@{
    ViewBag.Title = "关于博主";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Random r = new Random();
    PageFootViewModel footer = ViewBag.Footer;
}
<style>
    .bg-title {
        height: 50vh;
        max-height: 400px;
        position: relative;
        background: url(/Content/images/@(r.Next(1,9)).jpg) no-repeat center;
        background-size:cover;
        background-attachment: fixed;
    }
    .header-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .header-content .divider {
        width: inherit;
        height: 20px;
        margin-top: 20px;
        border-top: 3px solid rebeccapurple;
    }
</style>
<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li class="current"><em>@ViewBag.Title</em></li>
    </ol>
</div>
<div class="bg-title">
    <div class="header-content text-center">
        <h1 class="size48">
            关于博主
        </h1>
        <div class="divider"></div>
        <p class="size24">
            博主个人简介
        </p>
    </div>
</div>
<div class="container">
    <div class="row" style="font-size: 18px;line-height: 24px;">
        <div class="col-md-2">
            <img data-original="@CommonHelper.SystemSettings["logo"]" alt="@CommonHelper.SystemSettings["logo"]" class="img-responsive img-thumbnail" style="width: 100%" />
        </div>
        <div class="col-md-10">
            <table class="table-responsive table-condensed">
                <tr>
                    <td style="width: 100px">江湖名号：</td>
                    <td>懒得勤快</td>
                </tr>
                <tr>
                    <td>所属人群：</td>
                    <td>奋斗中的90后高中生</td>
                </tr>
                <tr>
                    <td>毕业院校：</td>
                    <td>四川省资阳中学</td>
                </tr>
                <tr>
                    <td>人生格言：</td>
                    <td>
                        自由之思想，独立之人格。跟着靠谱的人，干牛逼的事！
                    </td>
                </tr>
                <tr>
                    <td>建站宗旨：</td>
                    <td>
                        全栈开发者，互联网分享精神！勤于发现，乐于分享！山外青山楼外楼，比上不足比下有余；规则是用来打破的，王道是用来颠覆的！
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 page-header">
            <h2 class="size24 inline">
                自序
                <small>
                    博主的自我简评
                </small>
            </h2>
        </div>
        <div class="col-md-12">
            <ol style="text-indent: 36px;">
                <li>南山下，码农一枚。酷爱编程，乐于分享。</li>
                <li>09年开始接触编程，致力于更好的分享技术，分享人生。</li>
                <li>程序老鸟，初心不改！依然喜欢写代码到深夜，最喜欢深夜代码伴随着的键盘声。</li>
                <li>喜欢折腾和搞机，追求新鲜的硬件数码设备，也欢迎小伙伴们一起讨论搞机经验，一起来tree new bee；</li>
                <li>2005年就读于美国联邦总局学院，2006年美国时代周刊年度年度人物，2008年感动中国组委会特别大奖，2010年被奥巴马请回到海豹突击队，2011年参加了美国总统选举二次落选，2012年被提名为世界最具影响力人物，2014年放弃一生辉煌隐退在互联网当码农；</li>
                <li>同时也是一位B站资深哲♂学家，探索未知领域😏。</li>
            </ol>
        </div>
    </div>
    <div class="row margin-top10">
        <div class="page-header">
            <h2 class="size24 inline">喜欢钻研的技术</h2>
        </div>
        <div class="col-md-12" style="line-height: 40px;">
            <button class="btn btn-info">web前端</button>
            <button class="btn btn-primary">Javascript</button>
            <button class="btn btn-success">CSS</button>
            <button class="btn btn-danger">NoSql</button>
            <button class="btn btn-default">C#</button>
            <button class="btn btn-primary">DotNet</button>
            <button class="btn btn-danger">Redis</button>
            <button class="btn btn-default">MySql</button>
            <button class="btn btn-info">git</button>
            <button class="btn btn-primary">nginx</button>
            <button class="btn btn-danger">linux</button>
            <button class="btn btn-info">docker</button>
            <button class="btn btn-primary">Android</button>
            <button class="btn btn-danger">Windows</button>
            <button class="btn btn-success">互联网架构</button>
            <button class="btn btn-default">大数据</button>
            <button class="btn btn-info">操作系统</button>
            <button class="btn btn-danger">云计算</button>
            <button class="btn btn-primary">数码硬件DIY</button>
            <button class="btn btn-success">软件绿化</button>
            <button class="btn btn-default">服务器</button>
            <button class="btn btn-danger">分布式</button>
            <button class="btn btn-primary">微服务</button>
            <button class="btn btn-default">自然语言</button>
            <button class="btn btn-info">搜索引擎</button>
            <button class="btn btn-danger">科学上网</button>
        </div>
    </div>
    <div class="row margin-top10">
        <div class="page-header">
            <h2 class="size24 inline">常用到的工具</h2>
        </div>
        <div class="col-md-12" style="line-height: 40px;">
            <button class="btn btn-danger">VisualStudio</button>
            <button class="btn btn-primary">Photoshop</button>
            <button class="btn btn-success">Navicat</button>
            <button class="btn btn-info">VS Code</button>
            <button class="btn btn-primary">vm ware</button>
            <button class="btn btn-success">dism++</button>
            <button class="btn btn-danger">RedisDesktopManager</button>
            <button class="btn btn-default">chrome</button>
            <button class="btn btn-info">git</button>
            <button class="btn btn-primary">telegram</button>
            <button class="btn btn-danger">SVN</button>
            <button class="btn btn-success">Internet Download Manager</button>
            <button class="btn btn-default">TeamViewer</button>
            <button class="btn btn-info">github</button>
            <button class="btn btn-info">bilibili</button>
            <button class="btn btn-success">stackoverflow</button>
            <button class="btn btn-info">google</button>
            <button class="btn btn-danger">Postman</button>
            <button class="btn btn-success">PanDownload</button>
            <button class="btn btn-info">BlueStack</button>
            <button class="btn btn-default">ShadowsocksR</button>
            <button class="btn btn-danger">v2ray</button>
        </div>
    </div>
    <div class="row margin-top10">
        <div class="page-header">
            <h2 class="size24 inline">常去的网站</h2>
        </div>
        <div class="col-md-12" style="line-height: 40px;">
            <a class="btn btn-danger" href="https://github.com" target="_blank">gayhub</a>
            <a class="btn btn-default" href="https://www.cnblogs.com" target="_blank">博客园</a>
            <a class="btn btn-success" href="https://gitlab.com" target="_blank">gaylab</a>
            <a class="btn btn-info" href="http://google.com" target="_blank">Google</a>
            <a class="btn btn-primary" href="http://youtube.com" target="_blank">YouTube</a>
            <a class="btn btn-success" href="http://www.htmleaf.com" target="_blank">jquery之家</a>
            <a class="btn btn-info" href="https://www.52pojie.cn" target="_blank">52破解</a>
            <a class="btn btn-primary" href="http://msdn.itellyou.cn" target="_blank">MSDN</a>
            <a class="btn btn-success" href="https://www.bilibili.com" target="_blank">哔哩哔哩</a>
            <a class="btn btn-danger" href="http://zol.com.cn" target="_blank">中关村在线</a>
            <a class="btn btn-default" href="http://bbs.ithome.com" target="_blank">IT之家</a>
            <a class="btn btn-info" href="https://stackoverflow.com" target="_blank">stackoverflow</a>
            <a class="btn btn-primary" href="https://segmentfault.com" target="_blank">segmentfault</a>
            <a class="btn btn-success" href="http://www.infoq.com/cn" target="_blank">InfoQ</a>
            <a class="btn btn-default" href="http://www.jobbole.com/" target="_blank">伯乐在线</a>
            <a class="btn btn-danger" href="https://www.lagou.com/" target="_blank">拉勾</a>
            <a class="btn btn-info" href="https://www.linkedin.com" target="_blank">领英</a>
        </div>
    </div>
    @*<div class="row margin-top10">
            <div class="page-header">
                <h2 class="size24 inline">博主详细简历</h2>
            </div>
            <div class="col-md-12" style="line-height: 40px;">
                <a class="btn btn-info" href="http://resume.masuit.com">立即前往</a>
            </div>
        </div>*@
    <div class="row margin-top10">
        <div class="page-header">
            <h2 class="size24 inline">联系博主</h2>
        </div>
        <div class="col-md-12" style="line-height: 40px;">
            <a class="btn btn-info" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=admin@masuit.com" target="_blank">企业邮箱</a>
            <a class="btn btn-info" href="https://github.com/ldqk" target="_blank">GitHub</a>
            <a class="btn btn-info" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3444764617&amp;site=qq&amp;menu=yes" target="_blank">腾讯QQ</a>
            <a class="btn btn-info" href="https://t.me/ldqk0" target="_blank">Telegram</a>
        </div>
    </div>
</div>