@{
    ViewBag.Title = "评论及留言须知";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li class="current"><em>@ViewBag.Title</em></li>
    </ol>
</div>
<div class="container">
    <p>
        1. 尊重网上道德，严禁发表侮辱、诽谤、教唆、淫秽内容；
    </p>
    <p>
        2. 您在本站评论发表的言论，本站有权在网站内保留、转载、引用或者删除（被判为垃圾评论）；
    </p>
    <p>
        3. <span style="color: rgb(255, 0, 0);">请务必使用真实的邮箱地址参与回复</span>，非有效邮箱的回复不论内容，一律删除；
    </p>
    <p>
        4. <span style="color: rgb(255, 0, 0);">本站有反垃圾机制</span>，请保证每一次回复的内容质量，垃圾评论评判标准（包括但不仅限于）：
    </p>
    <p style=" text-indent: 2em;">
        昵称：商业推广信息（如带SEO、店铺字眼）、不文明、有攻击他人嫌疑的、不和谐的；
    </p>
    <p style=" text-indent: 2em;">
        邮件地址：很明显无效的邮件地址；
    </p>
    <p style=" text-indent: 2em;">
        链接：SEO、广告推广类网址一律视为垃圾评论处理；
    </p>
    <p style=" text-indent: 2em;">
        评论内容：包含广告内容，政治影射内容；
    </p>
    <p style=" text-indent: 2em;">
        提及、发表容易引起争论的言论或者观点（如：争论强度），虽然您的发言本质上并没有带有恶意，但可能因为观点的问题引起带有负面情绪的讨论。出现带有负面情绪的讨论时，为维持留言区的秩序，会被管理员删除相关发言。
    </p>
    <p>
        5. 多次发表垃圾评论将会被封禁账户或IP；封禁标准：
    </p>
    <p style="text-indent: 2em;">
        对于初次产生留言问题的用户，原则上不作直接封禁,直接删除问题发言内容；
    </p>
    <p style="text-indent: 2em;">
        用户发言不当，应该以删除为主管理，除非该用户多次或管理员提醒后，仍发表同类言论，则实施封禁；
    </p>
    <p style="text-indent: 2em;">
        初次封禁应适当从轻，一般不超过3天以上，初犯外的情况下，禁言天数不得大于上次被禁言天数的3倍；
    </p>
    <p style="text-indent: 2em;">
        包括但不限于 政治敏感、色情、暴力、人身攻击其他用户，现实人物，英灵从者与管理员、广告、刷屏等不良行为将被严厉封禁；
    </p>
    <p style="text-indent: 2em;">
        具体封禁操作取决于管理员的自行判断，所以具体标准以及期限请管理员自行斟酌。
    </p>
    <p>
        6. <span style="color: rgb(255, 0, 0);">为节省您的时间，请尽量不要评论诸如“会不会...”、“是不是...”这样的能够自己一试便知的问题；</span>
    </p>
    <p>
        7. 本站不接受任何的个性化需求的求助类咨询，任何有关个性化需求的求助类问题一律不予回复，诸如“求...资源”等问题；
    </p>
    <p>
        8. 参与本站评论即表明您已经阅读并接受上述条款，对以上规则本站保留最终解释权。
    </p>
</div>