@model string
@{
    ViewBag.Title = "网站免责声明";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Random r = new Random();
}

<style>
    .bg-title {
        height: 50vh;
        max-height: 400px;
        position: relative;
        background: url(/Content/images/@(r.Next(1,9)).jpg) no-repeat center;
        background-size:cover;
        background-attachment: fixed;
    }
    .header-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .header-content .divider {
        width: inherit;
        height: 20px;
        margin-top: 20px;
        border-top: 3px solid rebeccapurple;
    }
    .disclaimer {
        text-indent:36px;
        line-height: 24px;
        font-size: 18px;
    }
    .disclaimer h3{
        font-size: 24px;
    }
</style>
<div class="container">
    <ol class="cd-breadcrumb triangle">
        <li><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="current"><em>@ViewBag.Title</em></li>
    </ol>
</div>
<div class="bg-title">
    <div class="header-content text-center">
        <h1 class="size48">
            网站免责声明与法律条文
        </h1>
        <div class="divider"></div>
        <p class="size24">
            针对网站内容以及相关软件的附加说明和版权声明
        </p>
    </div>
</div>
<div class="container">
    @Html.Raw(Model)
</div>