@using Masuit.MyBlogs.Core.Views.Dashboard
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>服务器性能监控</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" async defer>
    <link href="https://cdn.staticfile.org/limonte-sweetalert2/6.6.9/sweetalert2.min.css" rel="stylesheet" async defer>
    <link href="~/Assets/layui/css/layui.min.css" rel="stylesheet" async defer>
</head>
<body style="overflow:hidden">
    <div class="container-fluid">
        <component type="typeof(Counter)" render-mode="ServerPrerendered" />
    </div>
    <script src="/_framework/blazor.server.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="https://cdn.staticfile.org/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
    <script src="~/Assets/layui/layui.js"></script>
    <script src="https://maplemei.gitee.io/xm-select/xm-select.js"></script>
    <script src="~/Scripts/global/counter.js"></script>
</body>
</html>