@using StackExchange.Profiling

@{
    Layout = null;
}
<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>博客管理后台</title>
    <link href="https://cdn.staticfile.org/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/limonte-sweetalert2/6.6.9/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/notie/4.3.1/notie.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/izitoast/1.4.0/css/iziToast.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/node-waves/0.7.6/waves.min.css" rel="stylesheet">
    <link href="~/Assets/layui/css/layui.min.css" rel="stylesheet" />
    <environment names="Development">
        <link href="~/fonts/icomoon.min.css" rel="stylesheet" />
        <link href="~/Assets/jedate/jedate.css" rel="stylesheet" />
        <link href="~/Assets/fileupload/filestyle.min.css" rel="stylesheet" />
        <link href="~/Content/ng-table.min.css" rel="stylesheet" />
        <link href="~/Content/common/loading.min.css" rel="stylesheet" />
        <link href="~/Content/microtip.min.css" rel="stylesheet" />
        <link href="~/Content/checkbox.min.css" rel="stylesheet" />
        <link href="~/ng-views/css/app.css" rel="stylesheet" />
    </environment>
    <environment names="Stage,Production">
        @await Styles.RenderAsync("/bundles/dashboard.css")
    </environment>

    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.6.9/angular.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.6.9/angular-animate.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.6.9/angular-resource.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.6.9/i18n/angular-locale_zh-cn.js"></script>
    <script src="https://cdn.staticfile.org/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
    <script src="https://cdn.staticfile.org/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
    <script src="https://cdn.staticfile.org/oclazyload/1.1.0/ocLazyLoad.min.js"></script>
    <script src="https://cdn.staticfile.org/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdn.staticfile.org/notie/4.3.1/notie.min.js"></script>
    <script src="https://cdn.staticfile.org/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdn.staticfile.org/limonte-sweetalert2/6.6.10/sweetalert2.min.js"></script>
    <script src="https://cdn.staticfile.org/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdn.staticfile.org/linq.js/2.2.0.2/linq.min.js"></script>
    <script src="https://cdn.staticfile.org/angular-ui-tree/2.22.6/angular-ui-tree.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script src="https://cdn.staticfile.org/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="https://cdn.staticfile.org/node-waves/0.7.6/waves.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/tm.pagination.js"></script>
    <script src="~/Scripts/ng-table.min.js"></script>
    <script src="~/Assets/layui/layui.min.js"></script>
    <script src="~/Assets/UEditor/ueditor.config.admin.min.js"></script>
    <script src="~/Assets/jedate/jedate.js" async defer></script>
    <script src="~/ng-views/app/app.config.js"></script>
    <script src="~/ng-views/app/route.config.js"></script>
    <script src="~/ng-views/app/angular-ueditor.min.js"></script>
    <script src="~/ng-views/app/template.min.js"></script>
    <script src="~/ng-views/app/form.js"></script>
    <script src="~/ng-views/controllers/main.js"></script>
</head>
<body data-ng-controller="main as mactrl" data-ng-class="{ 'sw-toggled': mactrl.layoutType === '1'}">
    <header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/ng-views/template/header.html'"></header>
    <section id="main">
        <aside id="sidebar" data-ng-include="'/ng-views/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <section id="content">
            <div class="container">
                <data ui-view></data>
            </div>
        </section>
    </section>
    <mini-profiler max-traces="5" position="RenderPosition.BottomLeft" />
</body>
</html>