body.qm-disable-scroll {
  overflow-y: hidden;
  -webkit-overflow-scrolling: none;
}

body .qm-modal {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  display: none;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px;
  background-color: #fff;
  border-radius: 3px;
  width: 60%;
  min-height: 60px;
  max-height: 90%;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

body .qm-modal.qm-animation-fade {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body .qm-modal.qm-animation-fade-up {
  -webkit-transform: translate(-50%, 150%) scale(1);
          transform: translate(-50%, 150%) scale(1);
}

body .qm-modal.qm-animation-fade-right {
  -webkit-transform: translate(-150%, -50%) scale(1);
          transform: translate(-150%, -50%) scale(1);
}

body .qm-modal.qm-animation-fade-down {
  -webkit-transform: translate(-50%, -150%) scale(1);
          transform: translate(-50%, -150%) scale(1);
}

body .qm-modal.qm-animation-fade-left {
  -webkit-transform: translate(150%, -50%) scale(1);
          transform: translate(150%, -50%) scale(1);
}

body .qm-modal.qm-animation-fade-zoom {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

body .qm-modal.qm-animation-fade-zoom-up {
  -webkit-transform: translate(-50%, 150%) scale(2);
          transform: translate(-50%, 150%) scale(2);
}

body .qm-modal.qm-animation-fade-zoom-right {
  -webkit-transform: translate(-150%, -50%) scale(2);
          transform: translate(-150%, -50%) scale(2);
}

body .qm-modal.qm-animation-fade-zoom-down {
  -webkit-transform: translate(-50%, -150%) scale(2);
          transform: translate(-50%, -150%) scale(2);
}

body .qm-modal.qm-animation-fade-zoom-left {
  -webkit-transform: translate(150%, -50%) scale(2);
          transform: translate(150%, -50%) scale(2);
}

body .qm-modal.qm-visible {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

body .qm-modal .qm-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px;
  cursor: pointer;
  color: #ccc;
}

body .qm-modal .qm-close-modal:after {
  content: '\2716';
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body .qm-modal .qm-close-modal:focus {
  outline: none;
}

body #qm-modal-background {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body #qm-modal-background.qm-visible {
  opacity: 1;
}
