@using Masuit.MyBlogs.Core.Models.DTO
@using Masuit.MyBlogs.Core.Models.ViewModel
@using Masuit.Tools.Core.Net
@model HomePageViewModel
@{
  ViewBag.Title = "归档_" + Context.Request.RouteValues["yyyy"] + "-" + Context.Request.RouteValues["mm"] + "-" + Context.Request.RouteValues["dd"];
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li>
      <a asp-action="Post" asp-controller="Home">文章列表</a>
    </li>
    <li class="current">
      <em>@ViewBag.Title</em>
    </li>
  </ol>
</div>
@{
  UserInfoDto user = Context.Session.Get<UserInfoDto>(SessionKey.UserInfo) ?? new UserInfoDto();
  await Html.RenderPartialAsync(user.IsAdmin ? "_MainContainer_Admin" : "_MainContainer", Model);
}