<div class="row" style="font-size: 18px;line-height: 24px;">
    <div class="col-md-2">
        <img src="https://git.imweb.io/ldqk/imgbed/raw/master/20190606/5dc7fc1266bfd8109d1ef5e0e7630f2c_2_3_art.png" alt="懒得勤快" class="img-responsive img-thumbnail" style="width: 100%" />
    </div>
    <div class="col-md-10">
        <table class="table-responsive table-condensed">
            <tr>
                <td style="width: 100px">江湖名号：</td>
                <td>懒得勤快</td>
            </tr>
            <tr>
                <td>建站宗旨：</td>
                <td>
                    互联网分享精神！勤于发现，乐于分享！山外青山楼外楼，比上不足比下有余；规则是用来打破的，王道是用来颠覆的！
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 page-header">
        <h2 class="size24 inline">
            自序
            <small>
                博主的自我简评
            </small>
        </h2>
    </div>
    <div class="col-md-12">
        <ol style="text-indent: 36px;">
            <li>南山下，码农一枚。酷爱编程，乐于分享。</li>
            <li>09年开始接触编程，致力于更好的分享技术，分享人生。</li>
            <li>程序老鸟，初心不改！依然喜欢写代码到深夜，最喜欢深夜代码伴随着的键盘声。</li>
            <li>喜欢折腾和搞机，追求新鲜的硬件数码设备，也欢迎小伙伴们一起讨论搞机经验，一起来tree new bee；</li>
            <li>2005年就读于美国联邦总局学院，2006年美国时代周刊年度年度人物，2008年感动中国组委会特别大奖，2010年被奥巴马请回到海豹突击队，2011年参加了美国总统选举二次落选，2012年被提名为世界最具影响力人物，2014年放弃一生辉煌隐退在互联网当码农；</li>
            <li>作为Microsoft、Google、Intel、NVIDIA、Qualcomm、中国电信、阿里巴巴集团、百度、腾讯、京东、哔哩哔哩、招商银行、台湾华硕股份、深圳万普拉斯科技、中国证监局、国家电网、中国铁路局等数十家国内外企业的投资人之一，并且保持着长期稳定的贸易与投资关系，每年助力企业产生数百亿的交易额的同时，为人低调；</li>
            <li>同时也是一位B站资深哲♂学家，探索未知领域😏。</li>
        </ol>
    </div>
</div>
<div class="row margin-top10">
    <div class="page-header">
        <h2 class="size24 inline">联系博主</h2>
    </div>
    <div class="col-md-12" style="line-height: 40px;">
        <a class="btn btn-info" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=admin@masuit.com" target="_blank">企业邮箱</a>
        <a class="btn btn-info" href="https://github.com/ldqk" target="_blank">GitHub</a>
        <a class="btn btn-info" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3444764617&amp;site=qq&amp;menu=yes" target="_blank">腾讯QQ</a>
        <a class="btn btn-info" href="https://t.me/ldqk0" target="_blank">Telegram</a>
    </div>
</div>