<div class="container">
    <p class="text-red size20">
        如果你现在正好需要一台显示器，可以到我们的<a href="https://shop123472283.taobao.com/" target="_blank">淘宝店铺</a>进行选购以表支持本站发展。
    </p>
    <p class="text-red size20">
        或者可以点击本站任意形式的广告链接，购买正版软件或服务以表示对本站的支持！
    </p><!--<p class="margintop20"><img src="https://ae01.alicdn.com/kf/H9c0ef439b7ae4a5ba4151456f3c5f0a2N.jpg" alt="懒得勤快的博客_互联网分享精神"/></p>-->
    <p>
        <img src="https://ae01.alicdn.com/kf/H85230da1c344482c90ad38046159c750f.jpg" alt="懒得勤快的博客_互联网分享精神" />
    </p>
    <p>
        钱包地址：
    </p>
    <p>
        BTC：1EBaXHTvrsXaTGtqdLn5HGW71E7XquRj28
    </p>
    <p>
        ETH：0x7ed2f49717b82b1418e4e27a510001f9d9dd2f52
    </p>
    <p>
        USDT：1EBaXHTvrsXaTGtqdLn5HGW71E7XquRj28
    </p>
    <div class="text-green size20 margintop20" style="line-height: 26px;">
        <p>
            本网站由博主一个人打造，开发和运营均为博主本人，如果您是真心喜欢本博客，您可以对博主表示一下感谢，以支持后期发布更多好资源，5毛也好、1元也罢，都是你们的心意。网站运营也需要成本，有你的援助，一切会更好。
        </p>
        <p class="text-red size20">
            打赏时最好能够附上你的完整信息，包括：您的昵称或真名、邮箱地址、QQ或微信、金额等；因为不能保证能够完全的清楚打赏者的基本信息，如果你完成了打赏，推荐你在网站留言板备注一下，或者QQ私信告知你是谁。
        </p>
        <p>
            您可以尽您所能地打赏，如果您临时改变主意，您可以在事后一个月之内联系作者申请退款！
        </p>
        <p>
            本站的宗旨是：互联网分享精神，乐于发现，勤于分享；
        </p>
        <p>
            我希望的：您将我的网站告诉你的朋友，让更多的人来这里学习，共同进步。
        </p>
    </div>
</div>