
@{
    ViewBag.Title = "全网VIP视频在线破解！";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = string.IsNullOrEmpty(Request["v"]) ? "http://v.youku.com/v_show/id_XMzA4MjMyOTA1Ng==.html" : Request["v"];
}
<div class="container-fluid">
    <ol class="cd-breadcrumb triangle">
        <li>@Html.ActionLink("首页", "Index", "Home")</li>
        <li class="current">
            <em>@ViewBag.Title</em>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">操作指南：</div>
                <div class="panel-body">
                    <p>第 一 步 进入各大视频网站，找到想要观看的VIP视频，然后复制链接（浏览器上的视频地址）</p>
                    <p>第 二 步 将复制的链接粘贴到本站播放地址，并点击开始解析</p>
                    <p>第 三 步 等待解析完成，即可免费观看VIP视频</p>
                    <p>免费全网VIP视频会员免广告看电影！亲们如果觉得好用，请帮我们传播！ 若播放异常，刷新，更换接口尝试哦！</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">温馨提示：</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">支持全网VIP视频解析，但不保证所有的线路都能正常解析</li>
                        <li class="list-group-item">如果遇到无法播放 切换播放通道 不同的网站可能跟解析服务器支持有关</li>
                        <li class="list-group-item">这些接口来源于网络泄露特别是会员解析通道 低调使用 我会定期更新</li>
                        <li class="list-group-item">如果视频不能正常播放，请尝试更换线路，建议多切换几个线路尝试，理论上总是能够播放成功的！</li>
                        <li class="list-group-item">本站不提供解析服务，接口源于互联网，仅供学习交流，请勿用于商业，后果自负！已支持以下网站视频播放(包含VIP电影)</li>
                        <li>
                            <img class="img-thumbnail img-responsive" src="~/Assets/images/video.jpg" />
                        </li>
                        <li class="list-group-item">
                            <p class="size24">
                                如果你觉得这个工具有用，请 @Html.ActionLink("点击这里", "Donate", "Misc") 支持一下博主！
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon">
                    视频地址(URL)：
                </span>
                <input type="url" class="form-control input-lg" id="url" value="@url" placeholder="请将需要VIP的视频地址复制粘贴到这里"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">
                    解析路线：
                </span>
                <select class="form-control input-lg" id="route">
                    <option value="http://api.baiyug.cn/vip/index.php?url=">默认线路</option>
                    <option value="http://api.1008net.com/v.php?url=">线路1</option>
                    <option value="http://api.nepian.com/ckparse/?url=" selected="selected">线路2</option>
                    <option value="http://player.jidiaose.com/supapi/iframe.php?v=">线路3</option>
                    <option value="http://api.pucms.com/index.php?url=">线路4</option>
                    <option value="http://api.wlzhan.com/sudu/?url=">线路5</option>
                    <option value="http://www.0335haibo.com/yun.php?url=">线路6</option>
                    <option value="http://yun.mt2t.com/yun?url=">线路7</option>
                    <option value="http://y.mt2t.com/lines?url=">线路8</option>
                    <option value="http://www.sfsft.com/video.php?url=">线路9</option>
                    <option value="http://www.82190555.com/video.php?url=">线路10</option>
                    <option value="http://2.jx.72du.com/video.php?url=">线路11</option>
                    <option value="http://www.97panda.com/kkflv/index.php?url=">线路12</option>
                    <option value="http://jx.vgoodapi.com/jx.php?url=">线路13</option>
                    <option value="http://www.dgua.xyz/webcloud/?url=">线路14</option>
                    <option value="http://api.91exp.com/svip/?url=">线路15</option>
                    <option value="http://vip.jlsprh.com/index.php?url=">线路16</option>
                    <option value="http://api.xfsub.com/index.php?url=">线路17</option>
                    <option value="http://jiexi.92fz.cn/player/vip.php?url=">线路18</option>
                    <option value="http://api.baiyug.cn/vip/index.php?url=">线路19</option>
                    <option value="http://api.662820.com/xnflv/index.php?url=">线路20</option>
                    <option value="http://www.82190555.com/index/qqvod.php?url=">线路21</option>
                    <option value="http://yyygwz.com/index.php?url=">线路22</option>
                    <option value="http://www.97panda.com/kkflv/index.php?url=">线路23</option>
                    <option value="http://jx.api.163ren.com/vod.php?url=">线路24</option>
                    <option value="http://lookxw.com/yingzi/?url=">线路25</option>
                    <option value="http://www.0335haibo.com/tong.php?url=">线路26</option>
                    <option value="http://www.wmxz.wang/video.php?url=">线路27</option>
                    <option value="http://api.97kn.com/?url=">线路28</option>
                    <option value="https://aikanapi.duapp.com/odflv105/index.php?url=">线路29</option>
                    <option value="http://v.buy360.vip/wwcx/index.php?url=">线路30</option>
                    <option value="http://api.lequgirl.com/?url=">线路31</option>
                    <option value="https://jxapi.nepian.com/ckparse/?url=">线路32</option>
                    <option value="http://91k.co/play.php?url=">线路33</option>
                    <option value="http://www.52jiexi.com/yun.php?url=">线路34</option>
                    <option value="http://mt2t.com/yun?url=">线路35</option>
                    <option value="http://000o.cc/jx/ty.php?url=">线路36</option>
                    <option value="http://yyygwz.com/index.php?url=">线路37</option>
                    <option value="http://vipjiexi.com/vip.php?url=">线路38</option>
                    <option value="http://www.wmxz.wang/video.php?url=">线路39</option>
                    <option value="http://jx.ck921.com/?url=">线路40</option>
                    <option value="http://s1y2.com/?url=">线路41</option>
                    <option value="http://www.ou522.cn/t2/1.php?url=">线路42</option>
                    <option value="http://jx.xuanpianwang.com/parse?url=">线路43</option>
                    <option value="https://apiv.ga/magnet/">线路44</option>
                    <option value="http://jiexi.92fz.cn/player/vip.php?url=">线路45</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" id="play">开始播放</button>
                </span>
            </div>
        </div>
    </div>
    <iframe src="" frameborder="0" width="100%" id="video" style="height: 85vh;"></iframe>
</div>
<script>
	$(function() {
		$("#play").on("click", function(e) {
			$("#video").attr("src", $("#route").val() + $("#url").val());
        });
		$("#route").on("change", function(e) {
			$("#video").attr("src", $("#route").val() + $("#url").val());
		});
	});
</script>