<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net46" />
  <package id="EFSecondLevelCache" version="1.2.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.185" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net46" />
</packages>