@model Masuit.MyBlogs.Core.Models.ViewModel.HomePageViewModel
<div class="container">
    <div class="row" id="list">
        @{
            await Html.RenderPartialAsync("_ArticleListPartial", Model);
            await Html.RenderPartialAsync("_Aside", Model);
        }
    </div>
</div>