@model Masuit.MyBlogs.Core.Models.ViewModel.HomePageViewModel
<div class="list-container">
  @{
    await Html.RenderPartialAsync("_ArticleListPartial", Model);
    await Html.RenderPartialAsync("_Aside", Model);
  }
</div>