<div class="row">
    <div class="form-inline pull-right">
        <button class="btn btn-info waves-effect" ng-click="list.GetPageData(paginationConf.currentPage, paginationConf.itemsPerPage);">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <table ng-table="list.tableParams" class="table table-bordered table-hover table-condensed editable-table listTable" ng-form="list.tableForm" disable-filter="list.isAdding" tracked-table="list.tableTracker">
        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">
            <td title="'标题'" filter="{Title: 'text'}" sortable="'Title'">
                <a ng-href="/misc/{{row.Id}}" target="_blank">{{row.Title}}</a>
            </td>
            <td title="'发表时间'" filter="{PostDate: 'text'}" sortable="'PostDate'">
                {{row.PostDate|date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td title="'修改时间'" filter="{ModifyDate: 'text'}" sortable="'ModifyDate'">
                {{row.ModifyDate|date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td title="'操作'" style="width: 120px;">
                <div class="btn-group">
                    <button class="btn btn-danger btn-sm waves-effect" ng-click="list.del(row)">
                        <i class="icon-cross"></i>
                    </button>
                    <a class="btn btn-success btn-sm waves-effect" ng-href="#/misc/index?id={{row.Id}}">
                        <i class="icon-pencil"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="paginationConf"></tm-pagination>
</div>