@using Masuit.MyBlogs.Core.Views.Tools
@{
  ViewBag.Title = "房贷多次提前还款试算模型计算器";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a asp-action="Index" asp-controller="Home">首页</a>
    </li>
    <li class="current">
      <em>@ViewBag.Title</em>
    </li>
  </ol>
  @(await Html.RenderComponentAsync<Loan>(RenderMode.ServerPrerendered, new {
    IP = Context.Connection.RemoteIpAddress.ToString()
  }))
</div>
