<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.10.1" targetFramework="net461" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net461" />
  <package id="AutoMapper.EF6" version="2.0.0" targetFramework="net461" />
  <package id="DelegateDecompiler" version="0.25.0" targetFramework="net461" />
  <package id="DelegateDecompiler.EntityFramework" version="0.25.0" targetFramework="net461" />
  <package id="EFSecondLevelCache" version="1.2.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.199" targetFramework="net461" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net45" />
  <package id="Mono.Reflection.Core" version="1.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net45" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
</packages>