@model Models.ViewModel.IndexPageViewModel
<div class="container">
    <div class="row" id="list">
        @{
            Html.RenderPartial("_ArticleListPartial_Admin", Model);
            Html.RenderPartial("_Aside", Model);
        }
    </div>
</div>