<form class="form-group" id="article-form" method="post" onsubmit="return false">
    <div class="input-group">
        <span class="input-group-addon size18">
            <label for="article">文章标题：</label>
        </span>
        <input class="form-control input-lg" id="article" ng-model="post.Title" placeholder="请输入文章标题" required type="text">
    </div>
    <div class="animated bounceInDown form-group overlay">
        <div class="ueditor" ng-model="post.Content" style="height: 56vh;" type="text/plain"></div>
    </div>
    <button class="btn btn-info btn-lg waves-effect" ng-click="merge(post)" type="button">确认合并</button>
</form>